
#heading{color: rgb(194, 28, 209);text-align: center;font-family: Calibri;text-decoration: underline;}
table{background-color: rgb(194, 28, 209);
    font-family: Calibri; 
    font-size: 11pt; 
    font-style: normal;
    font-weight: bold;}
tr{color: white;}
.ROLL{color: brown;}
