@media only screen and (max-width:600px){
    body{margin-top: 0px;margin-bottom:-10px;margin-right:0px;margin-left: -50px;padding: 0px;}

.first{background-color:rgb(87, 72, 219); height: 100px;width: 100%;text-align: center;}

/* SOCIAL LINKS CONTAINER      */
#f {height: 80px;position: relative;left:180px;bottom: 15px;margin: -50px -50px -50px -50px}


         
#s {height:  55px; position: relative;left: 240px;bottom:8px; margin: -30px -30px -30px -50px;}


#t{height:  55px; position: relative;left: 300px;bottom:7px; margin: -30px -30px -30px -50px;}


#fo {height:  58px; position: relative;left:360px;bottom:8px; margin: -30px -30px -30px -50px;}


/* dididdidiidid */
.but{display: none;}
p.ko {color: white; font-family:Helvetica; display: inline-block; position: relative;top: 25px;left:22px;bottom: 2px; font-size: 14px; border: none;}

     /* DIV Of BUTTONS */
 #y {display: inline-block; position: relative;left: 30px;bottom:-15px;}

 #sayl {height: 40px; display: inline-block;left: 30px; ;top: 15px;}

 #haz{width:90%;height: 300px;}

  
   /* Div OF BLue LINE */
.blue{ margin-top: 20px; margin-left: 80px; text-align: center;
    padding-top: 1px; width: 80%; height: 50px; background: rgb(87, 72, 219);}  

    /* DV OF INTRO */
.intro{ width: 100%; background-color: whitesmoke; height: 1400px;  margin-top: -18px;}

.bb{background: rgb(39, 18, 230); text-align: center; height: 1100px;}



#ccc{ margin-right: -10px;}

/* div of divers */
.bx{ background: whitesmoke;height: 1600px; margin-top: -50px;}
.trr{ font-size: 30px; margin-left: 80px;}

.trr:hover{ font-size: 30px; text-align: center; padding-top: 55px; text-decoration: underline green; color:green ;}

.pgng{text-align: center; margin-top: 10px; margin-right: -80px;}

.fbx{margin-left: 50px;}

.qbx{margin-left: 50px;}

.sbx,.tbx, .wbx, .rbx  {margin-top: 30px;}

.whiterr{
    display: inline-block;
    font-size: 11px;
    height: 320px;
    margin-left: 100px;
    padding-left:-50px ;}

    
.zo, .ao {width: 380px;
    margin-left: 0px;
    margin-top:20px ;
    height:70px;
    background-color: rgb(238, 238, 238);
    display: inline-block;}


.blacker{display: inline-block;
    width: 350px;
    height: 320px;
    margin-left:100px;
    }

.whiter{
    text-align: center;
    font-size: 11px;
    color: rgb(87, 72, 219);
    height: 1100px;}



.black{height:550px;
    background-color: rgb(10, 20, 15);
    margin-bottom: -5px;}

    .office{color:gray;
        display: inline-block;
        text-align: left;
        font-size: 10px;
        font-family: helvetica;
        font-weight: inherit;
         height: 250px;
         width: 75%;
        margin-left: 60px;
        margin-right: 10px;
        margin-top: 50px ;}

.useful{
    display: inline-block;
    font-size: 12px;
    height: 51px;
    position: relative;top: 20px;
    width: 85%;
    margin-left: 60px;
    border-bottom: gray 1px solid;}

.connect{
    display: inline-block;
    height: 150px;
    width: 75%;
    margin-left: 60px;
    position: relative;top: 20px;}


/* Button COntainer */
#ho {display: inline-block; position:relative;right: 70px;bottom: 50px; font-size:11px;
    padding: 10px 12px 8px 12px ; color: white; border-radius:100px; background-color: rgb(87, 72, 219) ;}

    
#ab {display: inline-block; margin-left: -4px; position:relative;right: 70px;bottom: 50px;
    font-size:11px; padding: 10px 12px 8px 12px ; color: black; border-radius:100px;}

    
#sa {display: inline-block; margin-left: -4px; position:relative;right: 340px;bottom: 8px; font-size:11px;
    padding: 10px 12px 8px 12px ;color:black;border-radius:100px;}    
    
#sal {display: inline-block; margin-left: -4px; position:relative;right:70px;bottom: 50px; font-size:11px;
    padding: 10px 12px 8px 12px ;color:black;border-radius:100px;}    

    
     /* 2ND Line Div */
.fixed {background-color:whitesmoke; text-align: center; position:sticky; border-bottom: rgb(87, 72, 219) solid 1px;
    top: 0px; width: 100%; display: inline-block; height: 75px;}